*{
	margin: 0;
	padding: 0;
}

body{
	width:100%;
}

header {
	display: inline-block;
	width: 987px;
}

#fawLogo{
	float: left;
}

nav {
	width: 610px;
	text-align: right;
}

nav ul {
	list-style-type: none;
	color: green;
}

nav ul li{
	display: inline;
}

nav ul li a{
	text-decoration: none;
	margin: 20px;
	color: #333;
	font-family: Open Sans, Arial;
	
}

#login, #signup{
	border-style:none;
}
#login{
	margin-right: -4px;
}

#support{
 	display: inline;
	float: right;
}

/* Begin Referrals Page */

.secondary-heading {
	position: relative;
	padding-bottom: 15px;
	color: #384047;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.3;
}

.icon-info {
	width: 34px;
	height: 34px;
	background-image: url("img/icon-info.svg");
	-moz-background-size: 68px 34px;
	-o-background-size: 68px 34px;
	-webkit-background-size: 68px 34px;
	background-size: 68px 34px;
}

.icon {
	background-repeat: no-repeat;
	background-position: 0 0;
	display: inline-block;
	vertical-align: middle;
}

p {
	font-size: 14px;
	color: #657380;
	line-height: 1.6;
	margin-bottom: 15px;
	display: block;
}
